html,body { height: 100%; max-width: 1166px; margin: auto; padding: 0px; }

#root {
	height: 100%;
}

.App {
	text-align: center;
	height: 100%;
}

.App-logo {
	  height: 70px;
}

.App-header {
	background-color: #222;
	height: 130px;
	padding: 10px;
	color: white;
}

.App-title {
	  font-size: 1.9em;
	  margin-top: 5px;
}

.image {
	/* Firefox */
	height: -moz-calc(100% - 130px);
	/* WebKit */
	height: -webkit-calc(100% - 130px);
	/* Opera */
	height: -o-calc(100% - 130px);
	/* Standard */
	height: calc(100% - 130px);
	background-image: url('http://www.bocajuniors.com.ar/images/fondos/quilmes/BomboneraAtardecer.jpg');
	background-position: center;
	background-repeat: no-repeat;
	min-height: 380px;
}

.caption {
	height: calc(100% - 10px);
	background:rgba(100,100,100, 0.3);
	padding: 5px;
	min-height: 370px;
}

.caption p {
	-webkit-text-stroke: 1px #D2B48C;
	color: black;
	font-size: 5vw;
	font-weight: bold;
	margin: 10px;
}

.caption a {
	display: inline !important;
	padding: 15px 10px 5px 10px;
}

.caption span {
	margin-top: 25px;
	padding: 15px 10px 5px 20px;
	font-size: 1.3em;

}

.caption a svg {
	padding-bottom: 0px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
  }

@media screen and (max-width: 1024px) {
	.caption p {
		font-size: 8vw;
	}
}